#authorCard{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

#singleCard{
    margin-bottom:2%;
    margin-top:3%;
}

#authorContainer{
    height: 92vh;
    overflow: scroll;
    width:74%;
}